<header class="w3-hide-small hero-bg w3-center">
  <%- include('menu') %>
  <h1 class="w3-jumbo"><b>Tableau de bord</b></h1>
  <h2 class="w3-xlarge">Rendement : <strong><%= locals.totalrend %></strong> Kg/Ha</h2>
</header>
<header class="w3-hide-medium w3-hide-large hero-bg w3-center">
  <%- include('menu') %>
  <h1 class="w3-xxlarge"><b>Tableau de bord</b></h1>
  <h2 class="w3-large">Rendement : <strong><%= locals.totalrend %></strong> Kg/Ha</h2>
</header>

<a href="/parcel/add" class="w3-btn action-bg onhover-bg button-add">+ Ajouter une parcelle</a>

<table class="w3-table w3-hide-small w3-bordered w3-centered">
  <thead>
    <tr>
      <th>Parcelle</th>
      <th>Rendement (Kg/Ha)</th>
      <th>Dernière observation</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody class="card">
    <% for(var i = 0 ; i < locals.parcels.length ; i++) { %>
    <tr>
      <td><a href="parcel/<%= locals.parcels[i].parcel_id %>" class="parcel"><i class="fa fa-eye"></i> <%= locals.parcels[i].name %></a></td>
      <td><%= locals.parcels[i].rend %></td>
      <td><%= locals.parcels[i].last_date %></td>
      <td>
        <a href="/parcel/<%= locals.parcels[i].parcel_id %>/observation/add %>" class="w3-button tool-green"><i class="fa fa-plus-square"></i></a>
        <a href="/parcel/<%= locals.parcels[i].parcel_id %>/edit" class="w3-button tool-yellow"><i class="fa fa-pencil"></i></a>
        <a href="/parcel/<%= locals.parcels[i].parcel_id %>/delete" class="w3-button tool-red"><i class="fa fa-trash"></i></a>
      </td>
    </tr>
    <% } %>
  </tbody>
</table>

<% for(var i = 0 ; i < locals.parcels.length ; i++) { %>
<div class="w3-card-4 w3-our-blue w3-center w3-margin w3-hide-medium w3-hide-large card">
  <a class="title parcel" href="parcel/<%= locals.parcels[i].parcel_id %>"><i class="fa fa-eye"></i> <%= locals.parcels[i].name %></a>
  <ul class="w3-left-align">
    <li>Rendement : <%= locals.parcels[i].rend %> Kg/Ha</li>
    <li class="obs">Dernière obs. : <%= locals.parcels[i].last_date %></li>
  </ul>
  <a href="/parcel/<%= locals.parcels[i].parcel_id %>/observation/add %>" class="w3-button tool-green"><i class="fa fa-plus-square"></i></a>
        <a href="/parcel/<%= locals.parcels[i].parcel_id %>/edit" class="w3-button tool-yellow"><i class="fa fa-pencil"></i></a>
        <a href="/parcel/<%= locals.parcels[i].parcel_id %>/delete" class="w3-button tool-red"><i class="fa fa-trash"></i></a>
</div>
<% } %>
