<header class="w3-container w3-hide-small hero-bg w3-center w3-margin-32 w3-padding-32">
  <h1 class="w3-xxlarge"><b><%= locals.observation ? 'Éditer' : 'Ajouter' %> une observation</b></h1>
</header>
<header class="w3-container w3-hide-medium w3-hide-large hero-bg w3-center w3-padding-32">
    <h1 class="w3-large"><b><%= locals.observation ? 'Éditer' : 'Ajouter' %> une observation</b></h1>
</header>

<ul class="breadcrumb w3-margin-32">
    <li><a href="/">Tableau de bord</a></li>
    <li><a href="/parcel/<%= locals.parcel.parcel_id %>"><%= locals.parcel.name %></a></li>
    <li><%= locals.observation ? 'Edition' : 'Ajout' %> observation</li>
</ul>

<div class="w3-row">
  <div class="w3-col w3-hide-small m2 l4"> &nbsp; </div>
  <div class="w3-col s12 m8 l4">
    <p><label>Saisissez les données d'observation ci-dessous.</label></p>

    <form method="post" action="<%= locals.observation ? `/parcel/${locals.parcel.parcel_id}/observation/${locals.observation.id}/edit` : `/parcel/${locals.parcel.parcel_id}/observation/add` %>" >

      <div class="w3-container w3-card-4 w3-margin w3-white">
        <h3>Étape 1</h3>

        <p><label>Date d'observation</label>
        <input class="w3-input w3-border" name="step_1_date" type="date" value="<%= locals.observation ? locals.observation.step_1_date : '' %>"></p>

        <p><label>Nombre de pieds comptés</label>
        <input class="w3-input w3-border" name="plant_number" type="number" min="0" step="1" value="<%= locals.observation ? locals.observation.plant_number : '' %>">
        <span class="label label-warning">La valeur par défaut ci-dessus est recommandée.</span>
        </p>

        <p><label>Nombre de grappes total</label>
        <input class="w3-input w3-border" name="bunch_number" type="number" min="0" step="1" value="<%= locals.observation ? locals.observation.bunch_number : '' %>"></p>
      </div>

      <br/>

      <div class="w3-container w3-card-4 w3-margin w3-white">
        <h3>Étape 2</h3>

        <p><label>Date d'observation</label>
        <input class="w3-input w3-border" name="step_2_date" type="date" value="<%= locals.observation ? locals.observation.step_2_date : '' %>"></p>

        <p><label>Poids moyen prévisionnel d'une grappe (g)</label>
        <input class="w3-input w3-border" name="weight" type="number" step="1" value="<%= locals.observation ? locals.observation.weight : 0 %>"></p>

        <p><label>Taux de sucre prévisionnel (degrés Brix)</label>
        <input class="w3-input w3-border" name="sugar_rate" type="number" step="0.01" value="<%= locals.observation ? locals.observation.sugar_rate : 0 %>"></p>
      </div>

      <br/>

      <div class="w3-container w3-card-4 w3-margin w3-white">
        <h3>Étape 3</h3>

        <p><label>Date d'observation</label>
        <input class="w3-input w3-border" name="step_3_date" type="date" value="<%= locals.observation ? locals.observation.step_3_date : '' %>"></p>

        <p><label>Poids moyen réel d'une grappe (g)</label>
        <input class="w3-input w3-border" name="weight_real" type="number" min="0" step="1" value="<%= locals.observation ? locals.observation.weight_real : 0 %>"></p>

        <p><label>Taux de sucre réel (degrés Brix)</label>
        <input class="w3-input w3-border" name="sugar_rate_real" type="number" step="0.01" value="<%= locals.observation ? locals.observation.sugar_rate_real : 0 %>"></p>
      </div>

      <p class="w3-center"><button class="w3-btn action-bg onhover-bg">Sauvegader <i class="fa fa-check-square"></i></button></p>
    </form>
  </div>
  <div class="w3-col w3-hide-small m2 l4"> &nbsp; </div>
</div>
