<header class="w3-container w3-hide-small hero-bg w3-center w3-margin-32 w3-padding-32">
  <h1 class="w3-xxlarge"><b><%= locals.parcel ? 'Editer' : 'Ajouter' %> une parcelle</b></h1>
</header>
<header class="w3-container w3-hide-medium w3-hide-large hero-bg w3-center w3-padding-32">
    <h1 class="w3-large"><b><%= locals.parcel ? 'Editer' : 'Ajouter' %> une parcelle</b></h1>
</header>

<ul class="breadcrumb w3-margin-32">
    <li><a href="/">Tableau de bord</a></li>
    <% if (locals.parcel) { %>
    <li><a href="/parcel/<%= locals.parcel.id %>"><%= locals.parcel.name %></a></li>
    <% } %>
    <li><%= locals.parcel ? 'Edition' : 'Ajout' %> parcelle</li>
</ul>

<div class="w3-row">
  <div class="w3-col w3-hide-small m2 l4"> &nbsp; </div>
  <div class="w3-col s12 m8 l4">
    <form class="w3-container w3-card-4 w3-white" method="post" action="<%= locals.parcel ? `/parcel/${locals.parcel.id}/edit` : '/parcel/add' %>">
      <p><label>Nom</label>
      <input class="w3-input w3-border" name="name" type="text" placeholder="Nom" value="<%= locals.parcel ? locals.parcel.name : '' %>"></p>

      <p>
        <label>Cépage</label>
        <select class="w3-select w3-border" type="select" name="type" value="<%= locals.parcel ? locals.parcel.type : 1 %>">
        <% for(var i = 1 ; i < locals.parcel_types.length ; i++) { %>
          <option value="<%= i %>" <%= (locals.parcel && locals.parcel.type === i) ? 'selected' : '' %> > <%= parcel_types[i] %></option>
        <% } %>
        </select>
      </p>

      <p><label>Surface (ha)</label>
      <input class="w3-input w3-border" name="area" type="number" step="0.01" min="0" placeholder="0" value="<%= locals.parcel ? locals.parcel.area : '' %>"></p>

      <p><label>Distance inter-rang</label>
      <input class="w3-input w3-border" name="row_distance" type="number" step="0.01" placeholder="0.0" min="0" value="<%= locals.parcel ? locals.parcel.row_distance : '' %>"></p>

      <p><label>Distance inter-plant</label>
        <input class="w3-input w3-border" name="plant_distance" type="number" step="0.01" placeholder="0.0" min="0" value="<%= locals.parcel ? locals.parcel.plant_distance : '' %>"></p>

      <p><label>Date de plantation</label>
      <input class="w3-input w3-border" name="date_planting" type="date" value="<%= locals.parcel ? locals.parcel.date_planting : '' %>"></p>

      <p><label style="display:block;">Coordonnées</label>
        <input class="w3-input w3-border w3-left" id="lng" name="lng" type="number" step="0.000001" placeholder="longitude" value="<%= locals.parcel ? locals.parcel.lng : '' %>" style="width: 50%;display: inline;">
        <input class="w3-input w3-border w3-right" id="lat" name="lat" type="number" step="0.000001" placeholder="lagitude"  value="<%= locals.parcel ? locals.parcel.lat : '' %>" style="width: 50%;display: inline;"></p>

      <div id='map' style='width: 100%; height: 400px;'></div>

      <p class="w3-center"><button class="w3-btn action-bg onhover-bg">Valider <i class="fa fa-check-square"></i></button></p>
    </form>
  </div>
  <div class="w3-col w3-hide-small m2 l4"> &nbsp; </div>
</div><br>


<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.48.0/mapbox-gl.css' rel='stylesheet' />
<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.48.0/mapbox-gl.js'></script>
<script>
    let Increment = 0;

    mapboxgl.accessToken = 'pk.eyJ1IjoibG91bG91MTIzNTQ2IiwiYSI6ImNqbGl6MHptcjA2MDczcHIwMTU2ajIxYzIifQ.ju33SqTTHGHZdunbEx7VKg';
    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/satellite-streets-v10',
        center: [4.360305, 48.960159],
        zoom: 5
    });

    function createP (lat, long){
        map.removeLayer("farm" + Increment);
        Increment++;
        map.addLayer({
            "id": "farm" + Increment,
            "type": "symbol",
            "source": {
                "type": "geojson",
                "data": {
                    "type": "FeatureCollection",
                    "features": [
                        {
                            "type": "Feature",
                            "properties": {},
                            "geometry": {
                                "type": "Point",
                                "coordinates": [
                                    long,
                                    lat
                                ]
                            }
                        }
                    ]
                }
            },
            "layout": {
                "icon-image": "myfarm",
                "icon-size": 0.05,
                "icon-allow-overlap": true
            }
        });

        document.getElementById("lng").value = long.toFixed(6);
        document.getElementById("lat").value = lat.toFixed(6);
/*
        const req = new XMLHttpRequest();

        req.onreadystatechange = function(event) {
            // XMLHttpRequest.DONE === 4
            if (this.readyState === XMLHttpRequest.DONE) {
                if (this.status === 200) {
                    console.log(JSON.parse(this.responseText));
                } else {
                    alert("Erreur, aucune communne trouvée");
                }
            }
        };

        req.open('GET', 'https://geo.api.gouv.fr/communes?fields=code,nom,surface,centre,contour&lat=' + lat + '&lon=' + long, true);
        req.send(null);*/
    }

    map.on('load', function () {
        map.loadImage('https://raw.githubusercontent.com/NerOcrO/vigne/master/assets/map_marker.png', function(error, image) {
            if (error) throw error;
            map.addImage('myfarm', image)
        });

        // Center the map on the coordinates of any click and create a marker.
        map.on('click', function (e) {
            createP(e.lngLat.lat, e.lngLat.lng)
        });
        
        setTimeout(() => {
            map.addLayer({
                "id": "farm0",
                "type": "symbol",
                "source": {
                    "type": "geojson",
                    "data": {
                        "type": "FeatureCollection",
                        "features": [
                            {
                                "type": "Feature",
                                "properties": {},
                                "geometry": {
                                    "type": "Point",
                                    "coordinates": [
                                        <%= locals.parcel ? locals.parcel.lng : 0.0001 %>,
                                        <%= locals.parcel ? locals.parcel.lat : 0.0002 %>
                                    ]
                                }
                            }
                        ]
                    }
                },
                "layout": {
                    "icon-image": "<%= locals.parcel ? (locals.parcel.lng ? 'myfarm' : 'invalid-icon' ) : 'invalid-icon' %>",
                    "icon-size": 0.05,
                    "icon-allow-overlap": true
                }
            });
            map.resize();
            map.setZoom(6)
        }, 300);
    });
</script>
